{% extends 'app_main/base.html' %}

{% block notes %}
{% if user.is_authenticated %}

<section id="five" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Редагувати нотатку</h2>

        <div class="form-box shadow-lg bg-body-tertiary rounded-5">
            <form method="POST" action="{% url 'app_notes:edit_note' note_id=note.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Назва:</label>
                    {{ form.title }}
                    <span>{{ form.errors.title }}</span>
                </div>
                <div class="form-group">
                    <label>Опис:</label>
                    {{ form.body }}
                    <span>{{ form.errors.body }}</span>
                </div>
                <div class="form-group">
                    <label> Вибрати теги:
                        <select name="tags" multiple="multiple" required>
                            {% for tag in tags %}
                            <option value="{{tag.name}}">{{tag.name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </form>
        </div>
        {% else %}
        <div style="text-align: center;">
            <h2>Зареєструйтеся або увійдіть до свого облікового запису!</h2>
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}