{% extends "app_main/base.html" %}

{% block reset %}
{% load static %}

<section id="pass_reset" class="wrapper style1 fade-up">
    <div class="inner">

        <div class="reset-container">
            <h2>Запит було надіслано</h2>
            <div>
                <img src="{% static 'users/images/sending_mail.gif' %}" alt="Email sent!" data-position="top center"/>
            </div>
            <p>Ми надіслали вам електронного листа з інструкціями про те, як скинути пароль.</p>
        </div>

    </div>
</section>

{% endblock %}
